extends layout

block content
	h1 Add User
		form(action='/users', method='post')
			input(type='text', name="id", placeholder="id")
			br
			input(type='text', name="name", placeholder="name")
			br
			input(type='text', name="age", placeholder="age")
			br
			input(type='submit', value='登録')
